<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <title>Autor</title>
</head>
<body>
    
    <nav class="navbar navbar-light bg-light mb-5">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="{% static 'img/libros.png' %}" alt="" width="30" height="24">
          </a>
          <a href="/autores" class="btn btn-danger">Autores</a>
        </div>
    </nav>

    <div class="container ">
        <div class="row row-cols-2 g-5">
            <div class="col-6">
                <h1>{{autor.first_name}} {{autor.last_name}}</h1>
                <h3>ID : {{autor.id}}</h3>
                <h3>Notas: <span>{{autor.notas}}</span></h3>
            </div>
            <div class="col-6">
                <h2>Libros</h2>
                <ul>
                    {% for libro in autor_libros %}
                    <li>{{libro.titulo}} <a href="{{autor.id}}/eliminar/{{libro.id}}" class="badge bg-danger text-decoration-none">X</a></li>
                    {%endfor%}
                </ul>

                <form action="" method="post" class="mt-5">
                    {%csrf_token%}
                    <div class="row justify-content-center">
                      <div class="col-12">
                        <select name="id_libro" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
                            <option value="" selected>Elija el libro</option>
                            
                            {%for libro in otros_libros%}
                                    <option value={{libro.id}}>{{libro.titulo}}</option>
                            {%endfor%}
                          </select>
                      </div>
                      <button class="col-4 btn btn-success" type="submit">Agregar</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>